@import '../../../scss/main';

.seemsg{
    height: 100%;
    width: 30%;
    background-color: $color-primary;
    border: solid 5px transparent;
    margin-left: 4px;
    p{
        text-align: center;
        font-weight: 400;
    }
    &:hover{
        cursor: pointer;
        border: solid 5px $color-secondary;
        p{
            font-weight: 700;
        }
    }
}